
.formbox {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: solid;
    border-width: 1px;
    border-color: rgb(206, 206, 206);
    border-radius: 20px;
    background-color: rgb(245, 245, 245);

    width: 90vw;
    height: 80vh;
    max-width: 450px;
    overflow: auto;
    transition: background-color 0.5s;
  }
  
  .formbox:hover {
    background-color: rgb(211, 211, 211);
  }
  
  .formboxflex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    height: 80vh;
  }